# Ignore Gradle project-specific cache directory
.gradle
.idea
.instant-execution-state

# Ignore Gradle build output directory
build

# ignore AGP's properties file just in case when project opened in Android Studio
local.properties
