name: Build Project

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Write Gradle build properties to `~/.gradle/gradle.properties`
        run: |
          mkdir -p ~/.gradle
          printf "org.gradle.jvmargs=-Xmx3G -XX:+UseParallelGC\n" >> ~/.gradle/gradle.properties
        shell: bash

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version-file: .java-version

      - uses: gradle/actions/wrapper-validation@v5

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew currentVersion

      - run: ./gradlew projectCodestyle --scan

      - run: ./gradlew check --scan

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results
        if: ${{ always() }}
        uses: actions/upload-artifact@v5
        with:
          name: test-results
          path: "${{ github.workspace }}/**/build/reports/tests"

      - run: ./gradlew publishToMavenLocal

      - run: ./gradlew publishPlugins --dry-run

      - run: git diff --exit-code

  build-all-sample-android-projects:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        gradle: [ current, release-candidate ]
        task: [ build, projectTest, projectLint, projectCodeStyle, issueLinksReport ]
    name: (Android) Gradle version ${{ matrix.gradle }}, task ${{ matrix.task }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Write Gradle build properties to `~/.gradle/gradle.properties`
        run: |
          mkdir -p ~/.gradle
          printf "org.gradle.jvmargs=-Xmx3G -XX:+UseParallelGC\n" >> ~/.gradle/gradle.properties
        shell: bash

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version-file: .java-version

      - name: Run ${{ matrix.task }}
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: ${{ matrix.gradle }}

      - name: Run build in a subdirectory
        working-directory: sample/android
        run: gradle ${{ matrix.task }} --stacktrace

  build-all-sample-kotlin-projects:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        gradle: [ current, release-candidate ]
        task: [ build, projectTest, projectCodeStyle, issueLinksReport ]
    name: (Kotlin) Gradle ${{ matrix.gradle }}, task ${{ matrix.task }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Write Gradle build properties to `~/.gradle/gradle.properties`
        run: |
          mkdir -p ~/.gradle
          printf "org.gradle.jvmargs=-Xmx3G -XX:+UseParallelGC\n" >> ~/.gradle/gradle.properties
        shell: bash

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version-file: .java-version

      - name: Run ${{ matrix.task }}
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: ${{ matrix.gradle }}

      - name: Run build in a subdirectory
        working-directory: sample/kotlin
        run: gradle ${{ matrix.task }} --stacktrace
